.contact_section {
    width: 100vw;
    margin: 0 auto;
    padding: 0 40px;
  }
  .contact_section h1 {
    font-size: 48px;
    font-weight: 800;
    max-width: 80%;
    text-align: center;
  }
  .contact_section p {
    font-weight: 500;
  }

  @media(max-width:600px){
    .contact_section h1{
      font-size: 24px;
    }
    .contact_section p{
      padding: 0 10px;
    }
  }